<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajudando</title>
</head>
<body>
    





    <script src="/bower_components/js-signals/dist/signals.min.js"></script>
    <script src="/bower_components/hasher/dist/js/hasher.min.js"></script>
    <script src="/bower_components/crossroads.js/dist/crossroads.min.js"></script>
    <script src="/app/script/routes.js"></script>
</body>
</html>