<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/app/style/index.css">
    <title>Ajudando</title>
</head>
<body>
    <div class="bodyContainer">
        <div class="menuContainer">
            <nav>
                <ul>
                    <li><a href="#/">Inicio</a></li>
                    <li><a href="#/videos">Video-Aulas</a></li>
                    <li><a href="#/configuracoes">Configurações</a></li>
                </ul>
                <div style="display: none;">
                    <div onclick="showModalUser()">
                        <img src="/app/images/user-icon.png" alt="">
                        <span>Nome do meliante</span>
                    </div>
                </div>
                <div class="optionsModalUser" id="modalUser">
                    <a href="#/perfil">Meu Perfil</a>
                    <a href="#/minhas-atividades">Minhas Atividades</a>
                    <a href="">Sair</a>
                </div>
                <div style="display: flex;">
                    <div class="containerSign">
                        <a class="signUp" href="login.html#/entrar/cadastrar">Cadastrar-se</a>
                        <span class="divisorLogin"> / </span>
                        <a class="sigIn" href="login.html#/entrar">Entrar</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="divContainer" id="perdemos">
            <h1>É ISSO, perdemos</h1>
        </div>
        <div class="divContainer" id="ganhamos">
            <h1>É ISSO, GANHAMOS</h1>
        </div>
        <div class="divContainer" id="morremos">
            <h1>É ISSO, MORREMOS</h1>
        </div>
    </div>

    <script src="/bower_components/js-signals/dist/signals.min.js"></script>
    <script src="/bower_components/hasher/dist/js/hasher.min.js"></script>
    <script src="/bower_components/crossroads.js/dist/crossroads.min.js"></script>
    <script src="/app/script/routes.js"></script>
    <script src="/app/script/controller/menuController.js"></script>
</body>
</html>