.containerModalLogin {
    height: 50%;
}

.formLogin > div > div {
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 320px) and (max-width: 374px) {
    .containerModalLogin {
        height: 87% !important;
    }

    .formLogin > div > div > button {
        width: 35%;
    }
}

@media (max-width: 375px) {
    .containerModalLogin {
        width: 70%;
        height: 60%;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    .formLogin > div > div > button {
        width: 30%;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    .formLogin > div > input {
        width: 70%;
    }
}

@media (max-width: 450px) and (min-width: 376px) {
    .containerModalLogin {
        width: 70%;
        height: 60%;
    }
}

.invalidInput::placeholder {
    color: red;
}
  
.validInput::placeholder {
    color: black;
}
