<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/auth/login.css">
    <title>Ajudando - Entrar</title>
</head>
<body class="divContainer" id="login">
    <div class="background">
        <div class="containerError" id="containerError">
            <span id="messageError"></span>
        </div>
        <div class="containerModalLogin">
            <form class="formLogin" method="POST">
                <div class="spaceInModels">
                    <span>Login</span>
                </div>
                <div>
                    <label for="">E-mail:</label>
                    <input type="email" id="email" onkeyup="validateInput('email')" maxlength="254" placeholder="Digite o seu e-mail cadastrado">
                    <img src="/images/login/email-icon.png" alt="" class="iconInInput">
                </div>
                <div class="spaceInModels">
                    <label for="">Senha: </label>
                    <input type="password" id="password" onkeyup="validateInput('password')" maxlength="128" placeholder="Digite a sua senha cadastrada">
                    <img src="/images/login/password-icon.png" alt="" class="iconInInput">
                </div>
                <div class="containerRemeberMe">
                    <label class="insideRemember">Lembrar Meus Dados
                        <input type="checkbox" id="rememberMe">
                        <span class="checkboxRemember"></span>
                    </label>
                </div>
                <div>
                    <div>
                        <div>
                            <a href="/view/auth/passwordRecover.html#/entrar/esqueci-minha-senha">Esqueci a minha senha</a>
                        </div>
                        <div>
                            <a href="/view/auth/register.html#/entrar/cadastrar">Não tenho cadastro</a>
                        </div>
                        <button onclick="submitLogin()" type="button">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="/bower_components/js-signals/dist/signals.min.js"></script>
    <script src="/bower_components/hasher/dist/js/hasher.min.js"></script>
    <script src="/bower_components/crossroads.js/dist/crossroads.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/config/secrets.js"></script>
    <script src="/script/routes.js"></script>
    <script src="/script/factory/AuthAPI.js"></script>
    <script src="/script/controller/auth/loginController.js"></script>
    <script src="/script/controller/validateController.js"></script>
</body>
</html>