<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/images/ico-ajudando.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style/auth/login.css">
    <title>Ajudando - Recuperar Senha</title>
</head>
<body class="divContainer" id="passwordRecover">
    <div class="background">
        <div class="containerModalLogin">
            <form class="formLogin" method="POST">
                <div>
                    <img src="/images/logo.png" alt="" class="logoInModal">
                </div>
                <div class="spaceInModels">
                    <span>Esqueci Minha Senha</span>
                </div>
                <div>
                    <label for="">E-mail:</label>
                    <input type="email" name="" placeholder="Digite o seu e-mail cadastrado">
                    <img src="/images/login/email-icon.png" alt="" class="iconInInput">
                </div>
                <div>
                    <div>
                        <button type="button">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="/bower_components/js-signals/dist/signals.min.js"></script>
    <script src="/bower_components/hasher/dist/js/hasher.min.js"></script>
    <script src="/bower_components/crossroads.js/dist/crossroads.min.js"></script>
    <script src="/script/routes.js"></script>
</body>
</html>