<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/app/images/ico-ajudando.ico" type="image/x-icon">
    <link rel="stylesheet" href="/app/style/auth/login.css">
    <link rel="stylesheet" href="/app/style/auth/register.css">
    <title>Ajudando - Cadastrar</title>
</head>
<body class="divContainer" id="register">
    <div class="background">
        <div class="containerModalLogin">
            <form class="formLogin" method="POST">
                <div>
                    <img src="/app/images/logo.png" alt="" class="logoInModal">
                </div>
                <div class="spaceInModels">
                    <span>Cadastrar</span>
                </div>
                <div>
                    <label for="">E-mail:</label>
                    <input type="email" name="" placeholder="Digite o seu e-mail">
                    <img src="/app/images/login/email-icon.png" alt="" class="iconInInput">
                </div>
                <div>
                    <label for="">Nome:</label>
                    <input type="text" name="" placeholder="Digite o seu nome">
                    <img src="/app/images/user-icon.png" alt="" class="iconInInput">
                </div>
                <div>
                    <label for="">Senha: </label>
                    <input type="password" name="" placeholder="Digite a sua senha">
                    <img src="/app/images/login/password-icon.png" alt="" class="iconInInput">
                </div>
                <div class="spaceInModels">
                    <label for="">Confirme sua senha: </label>
                    <input type="password" name="" placeholder="Digite para confirmar a sua senha">
                    <img src="/app/images/login/password-icon.png" alt="" class="iconInInput">
                </div>
                <div>
                    <div>
                        <button type="button">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="/bower_components/js-signals/dist/signals.min.js"></script>
    <script src="/bower_components/hasher/dist/js/hasher.min.js"></script>
    <script src="/bower_components/crossroads.js/dist/crossroads.min.js"></script>
    <script src="/app/script/routes.js"></script>
</body>
</html>